<div class="container">
  <div class="row">
  
  <div class="span12 sidebar con_box">
    <div admin-dashboard-sidebar></div>
  </div>
  
    <div class="span12 con_box">
      <h4>Edit Service</h4>
      <p>"Service" is the most important entity of the application. "Service" applies to professional services, classes or any other entity that can fit within single day to book, including events. Add "Service", specify parameters such as price, duration, min/max bookings per service, time frames and so on to have it ready for booking.</p>
      <form admin-services-form type="edit"></form>
    </div>
  </div>
</div>