<div class="main-container">
  <div id="main-content" class="container">
    <div class="row-fluid">
      <div class="span12 sidebar con_box">
        <div admin-dashboard-sidebar></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="">
        <div class="content-main">
          <div class="span8 calendar con_box" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
          <div class="span4 con_box admin_calendar_div">
            <h3 class="box_title">Details</h3>
            <h6><span>Name:</span> {{ booking.first_name }} {{booking.last_name}}</h6>
            <h6><span>Email:</span> {{ booking.email }}</h6>
            <h6><span>Mobile:</span> {{ booking.mobile }}</h6>
            <h6><span>Address:</span> {{ booking.address}} </h6>
            <h6><span>Postcode:</span> {{ booking.postcode}} </h6>
            <h6><span>Automobile manufacturer:</span> {{booking.automobile_manufacturer}}</h6>
            <h6><span>Automobile model:</span> {{booking.automobile_model}}</h6>
            <h6><span>Automobile mileage:</span> {{booking.automobile_mileage}}</h6>
            <h6><span>Customer remarks:</span> {{booking.customer_remarks}}</h6>
            <h6><span>Next reminder:</span> {{ booking.next_reminder }}</h6>

            <a href ng-show="booking" class="btn btn-info" ng-click="send_reminder(booking)">Send Reminder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>