<ul class="nav nav-list">
  <li class="nav-header">Admin Account</li>
  <li class="nav-admin-users" ui-route="#/admin.users" ng-class="{active: $uiRoute}">
    <a href="/#/admin.users">Users</a></li>
  <li class="nav-admin-services" ui-route="#/admin.services" ng-class="{active: $uiRoute}">
    <a href="/#/admin.services">Services</a></li>
  <li class="nav-admin-calendar" ui-route="#/admin.bookings_calendar" ng-class="{active: $uiRoute}">
    <a href="/#/admin.bookings_calendar">Calendar</a></li>
  <li class="nav-admin-booking" ui-route="#/admin_booking" ng-class="{active: $uiRoute}">
    <a href="/#/admin_booking">New Booking</a></li>
</ul>