/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

body{
	padding-top: 20px;
	background-color: #f6f6f6;
	overflow-y: scroll;
}

.header-main{
	margin-bottom: 20px;	
}

.push-right{
	float: right;
}

.con_box {
	padding: 20px 20px;
	background: white;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eee;
	margin-bottom: 20px;
}

.con_box .box_title {
margin: 0px 0px 20px;
padding-bottom: 10px;
border-bottom: 1px dotted #ddd;
}

.nav > li > a{
	float: left;
	margin-right:  10px;
}

/* login 
-------------------------------------------------------- */
.header-main img{
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}


.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('http://31.media.tumblr.com/ad65726441493f47e0c8f0473206f4e5/tumblr_mvwl4fCEb21rdpk23o1_1280.jpg');
}
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #000;
}
.form-signin-heading {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}


.admin_calendar_div{
	
}

.admin_calendar_div span{
	width: 90px;
	display: inline-block;

	
}
/* time picker
------------------------------------------------------ */
.time-to{
	margin-left: 20px;
}

.timepicker-table {
	
}

.text-center {
	text-align: center!important;
}

.timepicker-table .fa-times-circle-o{
	color:#fb0a2a;
	font-size: 30px;	
}
.timepicker-table .fa-times-circle-o:hover{
	color: #e62124 ;
}
/* footer
------------------------------------------------------ */
.footer_div{
	text-align: center;
}
